body {
    font-family:times, sans-serif;
    background-color: #f7aff7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #dd5efd;
    padding: 60px;
    border-radius: 5px;
    box-shadow: 0 0 60px rgb(104, 1, 99);
}

h1 {
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, select, button {
    margin-bottom: 15px;
    padding: 20px;
    font-size: 20px;
    border: 3px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #b700ff;
    color: #f8f8f3;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ae00ff;
}
